{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class="text-center">Your Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {%for note in user.notes%}

    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{note.data}}
        <button type="button" class="btn-close" aria-label="Close" onclick="deleteNote({{note.id}});"></button>
    </li>

    {%endfor%}
</ul>
<form action="" method="post">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="note" name="note" rows="3"></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}